# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_token_here

# Database (для docker-compose)
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/quizdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# App
SPRING_PROFILES_ACTIVE=prod
JAVA_OPTS=

# Docker image name (опционально для CI)
IMAGE_NAME=yourdockerhubuser/telegram-country-quiz-game-bot:latest